.context-menu {
    position:fixed;
    z-index: 1000;
    background-color: rgb(240, 240, 240);
    color: rgb(102, 102, 102);
    font-size: 14px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid rgb(120, 120, 120);
}

.menu-item {
    padding-left: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

.divider {
    border-bottom: 1px solid rgb(196, 196, 196);
}

.menu-item:hover {
    color: white;
    background-color: rgb(77, 77, 77);
}

.menu-item:active {
    color: white;
    background-color: rgb(57, 57, 57);
}

@media (prefers-color-scheme: dark) {
    .context-menu {
        background-color: rgb(87, 87, 87);
        color: rgb(224, 224, 224);
        border-color: rgb(48, 48, 48);
    }

    .divider {
        border-color: rgb(48, 48, 48);
    }

    .menu-item:hover {
        color: white;
        background-color: rgb(42, 42, 42);
    }

    .menu-item:active {
        color: white;
        background-color: rgb(26, 26, 26);
    }
}
