.context-menu {
    position:fixed;
    z-index: 1000;
    background-color: rgb(240, 240, 240);
    color: rgb(102, 102, 102);
    font-size: 14px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid rgb(120, 120, 120);
}

.menu-item {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.divider {
    border-bottom: 1px solid rgb(196, 196, 196);
}

.menu-item:hover {
    color: white;
    background-color: rgb(0, 89, 255);
}

.menu-item:active {
    color: white;
    background-color: rgb(0, 62, 179);
}

@media (prefers-color-scheme: dark) {
    .context-menu {
        background-color: rgb(87, 87, 87);
        color: rgb(224, 224, 224);
        border-color: rgb(48, 48, 48);
    }

    .divider {
        border-color: rgb(48, 48, 48);
    }
}
