
.iconButton-root {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 36px;
    width: 36px;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}