
.iconButton-root {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

.iconButton-button {
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
}

.iconButton-button:hover {
    background-color: #00000035;
    border-radius: 3px;
}

.iconButton-button:active {
    background-color: #00000070;
    border-radius: 3px;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 36px;
    width: 36px;
}

.text {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}