.noItemsBox-container {
    width: 100%;
    height: 100%;
    background-color: rgb(234, 234, 234);
    border-top: 1px solid #555555;
    display: block;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row {
    width: 100%;
    text-align: center;
    margin: auto;
}

.noItemsBox-header, .noItemsBox-extra {
    color: rgb(133, 133, 133)
}

.noItemsBox-icon {
    padding-top: 16px;
    padding-bottom: 16px;
    filter: brightness(0) saturate(100%) invert(57%) sepia(1%) saturate(0%) hue-rotate(176deg) brightness(91%) contrast(87%);
}

.noItemsBox-subtext {
    color: rgb(133, 133, 133);
    font-style: italic;
}

@media (prefers-color-scheme: dark) {
    .noItemsBox-container {
        background-color: rgb(35, 35, 35);
    }

    .noItemsBox-header {
        color: rgb(187, 187, 187)
    }

    .noItemsBox-subtext {
        color: rgb(187, 187, 187)
    }

    .noItemsBox-icon {
        filter: invert(86%) sepia(0%) saturate(868%) hue-rotate(158deg) brightness(94%) contrast(75%);
    }
}