/* Table + Root Styles */
.swfTable-root {
    display: flex;
    width: 100%;
}

.swfTable-root > table {
    text-align: start;
    width: 100%;
    border-collapse: collapse;
}

/* Table Header Styles */
.swfTable-root > table > thead {
    text-align: left;
    background-color: rgb(35, 35, 35);
}

.swfTable-root > table > thead > tr > th {
    padding-left: 4px; /* Unsure if I should keep this or just pad the thead/tr itself */
    padding-bottom: 4px;
    padding-top: 4px;
    border: solid 1px rgb(18, 18, 18);
}

/* Table Body Styles */
.swfTable-root > table > tbody {
    text-align: left;
    background-color: rgb(99, 99, 99);
}

.swfTable-root > table > tbody > tr > td {
    padding-left: 4px; /* Unsure if I should keep this or just pad the thead/tr itself */
    padding-bottom: 2px;
    padding-top: 2px;
    border: solid 1px rgb(62, 62, 62);
    border-bottom: solid 1px rgb(18, 18, 18);
}

.swfTable-root > table > tbody > tr:nth-child(2n) {
    background-color: blueviolet;
}



/* table th, table td {
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
} */