/* 
.topBar-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Columns 
.topBar-file-column {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topBar-control-column {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topBar-spoof-column {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Individual Buttons 
.topBar-open-button {
    width: 30%;
}

.topBar-refresh-button {
    width: 30%;
}

.topBar-settings-button {
    width: 30%;
}

.topBar-pause-button {
    width: 45%;
}

.topBar-stop-button {
    width: 45%;
} */

/* Root Container */
.topBar-root {
    width: 100%;
    height: 82px;
}

/* Columns */
.topBar-file-column {
    width: 200px;
    float: left;
}

.topBar-control-column {
    width: 130px;
    float: left;
}

.topBar-spoof-column {
    display: flex;
    background-color: red;
}

/* Individual Elements */
.topBar-open-button,
.topBar-refresh-button,
.topBar-settings-button,
.topBar-pause-button,
.topBar-stop-button {
    display: inline-block;
    width: 64px;
    text-align: center;
}

.topBar-vertical-divider {
    float: left;
    width: 1px;
    margin-left: 8px;
    margin-right: 8px;
    height: 64px;
    background: #555555;
}

input {
    width: 80%;
    margin: auto;
    display: flex;
}