/* 
.topBar-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Columns 
.topBar-file-column {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topBar-control-column {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topBar-spoof-column {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Individual Buttons 
.topBar-open-button {
    width: 30%;
}

.topBar-refresh-button {
    width: 30%;
}

.topBar-settings-button {
    width: 30%;
}

.topBar-pause-button {
    width: 45%;
}

.topBar-stop-button {
    width: 45%;
} */

/* Root Container */
.topBar-root {
    width: 100%;
    height: 64px;
}

/* Columns */
.topBar-file-column {
    width: 200px;
    float: left;
}

.topBar-control-column {
    width: 130px;
    float: left;
}

.topBar-spoof-column {
    display: flex;
    height: 100%;
}

/* Buttons and Dividers */
.topBar-open-button,
.topBar-refresh-button,
.topBar-settings-button,
.topBar-pause-button,
.topBar-stop-button {
    display: inline-block;
    width: 64px;
    text-align: center;
}

.topBar-vertical-divider {
    float: left;
    width: 1px;
    margin-left: 8px;
    margin-right: 8px;
    height: 64px;
    background: #555555;
}

/* Spoof Column Elements */
.topBar-spoof-checkbox {
    width: 24px;
    height: 24px;
    margin-left: 4px;
    margin-right: 4px;
}

.topBar-spoof-icon {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.topBar-spoof-url-textbox {
    height: 24px;
    width: 100%;
    margin-right: 12px;
}

.topBar-spoof-url-textbox:disabled {
    background-color: #e0e0e0;
}

.topBar-spoof-checkbox,
.topBar-spoof-icon,
.topBar-spoof-url-textbox {
    margin-top: auto;
    margin-bottom: auto;
}

/* TODO: Uncomment when light/dark switch is implemented */
/* @media (prefers-color-scheme: dark) {
    .topBar-spoof-url-textbox:disabled {
        background-color: #4e4e4e;
    }
} */
