/* Root Container */
.topBar-root {
    width: 100%;
    height: 64px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Columns */
.topBar-file-column {
    width: 200px;
    float: left;
}

.topBar-control-column {
    width: 64px;
    float: left;
}

.topBar-spoof-column {
    display: flex;
    height: 100%;
}

/* Buttons and Dividers */
.topBar-open-button,
.topBar-refresh-button,
.topBar-settings-button,
.topBar-pause-button,
.topBar-stop-button {
    display: inline-block;
    width: 64px;
    text-align: center;
}

.topBar-vertical-divider {
    float: left;
    width: 1px;
    margin-left: 8px;
    margin-right: 8px;
    height: 64px;
    background: #555555;
}

/* Spoof Column Elements */
.topBar-spoof-checkbox {
    width: 18px;
    height: 18px;
    margin-left: 4px;
    margin-right: 4px;
}

.topBar-spoof-icon {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.topBar-spoof-url-textbox {
    height: 24px;
    width: 100%;
    margin-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    font-size: 12px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 2px;
}

.topBar-spoof-url-textbox::placeholder {
    font-style: italic;
}

.topBar-spoof-url-textbox:disabled {
    background-color: #e0e0e0;
}

.topBar-spoof-checkbox,
.topBar-spoof-icon,
.topBar-spoof-url-textbox {
    margin-top: auto;
    margin-bottom: auto;
}

/* TODO: Uncomment when light/dark switch is implemented */
/* @media (prefers-color-scheme: dark) {
    .topBar-spoof-url-textbox {
        border: 1px solid rgb(38, 38, 38);
    }

    .topBar-spoof-url-textbox:disabled {
        background-color: #4e4e4e;
    }
} */
