body {
    margin: 0 0 0 0;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

footer {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
    margin-top: auto;
    height: 40px;
}

#root, #root > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.panel-container {
    height: 100%;
    margin: 0px 0px 4px 8px;
    overflow-y: auto;
}

.inner-panel-container {
    background-color: #f1f1f1;
    margin-right: 8px;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.footer-container {
    margin-left: auto;
}

/* React Tabs */
/* This is the recommended way to add custom styles: https://www.npmjs.com/package/react-tabs#custom-style */
.react-tabs {
    -webkit-tap-highlight-color: transparent;
    margin: 8px 8px 8px 8px;
    height: calc(100vh - 106px)
}
  
.react-tabs__tab-list {
    /* border-bottom: 1px solid #aaa; */
    margin: 0 0 0 0;
    padding: 0;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background: #fafafa;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    outline: none;
}

/* .react-tabs__tab:focus:after {
    content: '';
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
} */

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
    border: 1px solid #aaa;
    height: 100%;
    background-color: #fafafa;
}
  